:root {
    --dark-background: rgba(125, 0, 0, 1);
    --medium-background: rgba(255, 0, 0, 0.2);
    --shadow: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    background: var(--dark-background);
}

#headBar {
    height: 5vh;
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    background: var(--medium-background);
    box-shadow: 0px 1px 5px var(--shadow);
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: white;
    line-height: 5vh;
    font-size: 4vh;
    user-select: none;
}

#content {
    position: fixed;
    left: 0;
    top: 5vh;
    width: calc(100% - 20px);
    height: 95vh;
    display: grid;
    grid-template-columns: 10% 45% 45%;
    column-gap: 5px;
}

#content>div {
    height: calc(100% - 10px);
    width: calc(100%);
    background: 100%;
    margin: 5px;
    background: var(--medium-background);
    border-radius: 20px;
}